<h1>投稿詳細（Posts#show）</h1>
<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
    <a href="/users/<%= @post.user.id %>">@<%= @post.user.name %></a>
    <h3><%= @post.content %></h3>
</div>

<%= render partial: 'comments/test' %>

<%= link_to "ホームへ戻る", root_path %>
