<h1>投稿詳細（Posts#show）</h1>
<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
    <a href="/users/<%= @post.user.id %>">@<%= @post.user.name %></a>
    <h3><%= @post.content %></h3>
</div>
<hr>
<% if user_signed_in? %>
    <h3>コメントを投稿する</h3>
    <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
<% end %>
<hr>
<h2>コメント一覧</h2>
<div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>
<hr>
<%= link_to "ホームへ戻る", root_path %>
